.bodyA {
    background-color: #f1f1f1;
}

.MStable {
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

.MStable td {
    background-color: lightgray;
    border: 1px solid darkgray;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
    transition: background-color 0.25s;
}

.MStable td:hover {
    background-color: darkgray;
}

.navBar {
    background-color: #555;
    border: 2px solid darkgray;
    width: 100%;
    overflow: auto;
    border-radius: 3px;
}

.navBar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-color: #555;
    transition: background-color 0.5s;
    transition: border-color 0.3s;
}

.navBar a:hover {
    padding: 10px;
    background-color: black;
    border: 2px solid;
    border-color: #404040;
}

a.active {
    padding: 10px;
    background-color: #B82700;
    border: 2px solid #D82D00;
}

.sweepText {
    text-align: center;
}

.TTTtext {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.TTTboard {
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

.TTTboard td {
    background-color: lightgray;
    border: 1px solid darkgray;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}

.TTTboard td:hover {
    background-color: darkgray;
}

.TFEboard {
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

.TFEboard td {
    background-color: lightgray;
    border: 1px solid darkgray;
    width: 65px;
    height: 65px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}

.TFEtext {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Sboard {
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
}

.Sboard td {
    background-color: lightgray;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
}