body {
    text-align: center;
}

table {
    background-color: whitesmoke;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

tr {
    vertical-align: middle;
}

td {
    background-color: lightgray;
    border: 1px solid darkgray;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

td:hover {
    background-color: darkgray;
}

.navBar {
    background-color: lightgray;
    border: 1px solid darkgray;
}

.navBar {

}