table {
    background-color: whitesmoke;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

td {
    background-color: lightgray;
    border: 1px solid darkgray;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
}

td:hover {
    background-color: darkgray;
}

.navBar {
    background-color: #555;
    border: 2px solid darkgray;
    width: 100%;
    overflow: auto;
}

.navBar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navBar a:hover {
    padding: 10px;
    background-color: black;
    border: 2px solid #555555;
}

.sweepText {
    text-align: center;
}